:root {
--brandyellow: #E4BE2D;
--branddarkgrey: #423D3D;
--brandlightgrey: #828282;

--secred: #E7382F;
--secorange: #F68926;
--secgreen: #BBBE38;
--secblue: #3D689F;
--seclightgrey: #EBEBE9;

--amber: #FDC012;
--blue: #38A4DD;
--bluegrey: #607D8B;
--brown: #7A5649;
--deeppurple: #66499D;
--green: #4CAF4E;
--lightblue: #06BCD4;
--orange: #F2994A;
--pink: #E82064;
--purple: #903F98;
--teal: #009689;
--yellow: #FEEA39;
}
