/*!
 * Advisory Alpha Brand Style Guide Website
 */

/* CUSTOM STYLES */
.pageBanner {
  width: 100%;
  height: 10%;
  background-color: var(--seclightgrey);
  padding: 2em 2em;
  border-radius: 8px;
  margin-bottom: 2em;
}
#sideNavBar {
  position: sticky;
  background-color: var(--branddarkgrey);
}
.BrandLogo {
  margin-bottom: 4em;
  width: 200px;
}
.sideNavMenu {
  margin: 0 auto;
  padding: 3em;
}
.sideNavMenu ul {
  padding: 0 0 0 2em;
  margin-bottom: 1.5em;
}
.sideNavMenu ul li a {
  padding: 0;
  color: #ffffff;
}
.sideNavMenu ul li a:hover {
  color: #9a8a8a;
}
.activeItem {
  color: #E4BF2E !important;
}
.sideNavCat {
  color: #E4BE2D;
}
.sideNavMenu li {
  list-style: none;
  color: #ffffff;
  line-height: 1.8em;
}
.resourceItem {
  width: 300px;
  height: 100%;
  background-color: #ebebe9;
}
.color-sample {
  display: block;
  width: 175px;
  height: 175px;
  border-radius: 8px;
}

/* Color Cards */
.brandyellow-card {
  background-color: var(--brandyellow);
}
.branddarkgrey-card {
  background-color: var(--branddarkgrey);
}
.brandlightgrey-card {
  background-color: var(--brandlightgrey);
}
.secred-card {
  background-color: var(--secred);
}
.secorange-card {
  background-color: var(--secorange);
}
.secgreen-card {
  background-color: var(--secgreen);
}
.secblue-card {
  background-color: var(--secblue);
}


/* Brand Colors */
.brandyellow {
  color: var(--brandyellow);
}
.branddarkgrey {
  color: var(--branddarkgrey);
}
.brandlightgrey {
  color: var(--brandlightgrey);
}

/* END CUSTOM STYLES */
